@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/vikin_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secondaryTextColor;
        content: '';
        opacity: .7;
    }    
    
    &__text_nome {
        //margin-top: 0px;
        //margin-bottom: 2px;
        font-size: 155px;
        //line-height: 56px;
        font-weight: 800;
        text-align: center;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white;
                  
    } 

    &__text_1 {
        //margin-top: -42px;
        //margin-bottom: -120px;
        font-size: 36px;
        //line-height: 56px;
        font-weight: 500;
        text-align: center;
        
    }

    &__text {
        //margin-top: 62px;
        //margin-bottom: 64px;
        font-size: 36px;
        line-height: 56px;
        font-weight: 500;
        text-align: center;
        
    }
    &__text_2 {
        margin-top: 2px;
        margin-bottom: -64px;
        font-size: 32px;
        //line-height: 56px;
        font-weight: 500;
        text-align: center;
        
    }

    &__text_party {
        //margin-top: -8px;
        margin-bottom: 98px;
        font-size: 112px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
        text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 25px #00ffff, 0 0 30px #00ffff;
        //color: aqua importat !important;
    }



    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text_nome {
            //margin-top: 0px;
            //margin-bottom: 2px;
            font-size: 90px;
            //line-height: 56px;
            font-weight: 800;
            text-align: center;
            text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white;
                      
        } 
    
        &__text_1 {
            //margin-top: -42px;
            //margin-bottom: -120px;
            font-size: 24px;
            //line-height: 56px;
            font-weight: 500;
            text-align: center;
            
        }
    
        &__text {
            //margin-top: 62px;
            //margin-bottom: 64px;
            font-size: 24px;
            line-height: 56px;
            font-weight: 500;
            text-align: center;
            
        }
        &__text_2 {
            margin-top: 2px;
            margin-bottom: -64px;
            font-size: 18px;
            //line-height: 56px;
            font-weight: 500;
            text-align: center;
            
        }
    
        &__text_party {
            
            margin-bottom: 98px;
            font-size: 80px;
            line-height: 56px;
            font-weight: 800;
            text-align: center;
            
        }
    }
}